body {
    font-family: 'Handlee', cursive;
    background-color: whitesmoke;
    color: black;
}
* {
    box-sizing: border-box;
}
h1 span {
    border: 4px dashed #20bcd5;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 5px 5px 10px #20bcd5;
}
.kepala {
    text-align: left;
    background-color: #ffffff;
    color: #d3d3d3;
    border-radius: 0px 0px 30px 30px;
    padding: 3px 30px 3px 30px;
    margin: 10px 10px 0px 10px;
    border-style: none outset outset;
    box-shadow: 5px 5px 10px gray;
    /*ngebuat header ngikut*/
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.container1 > .menu {
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0 10px 0;
    text-align: center;
}
.container1 > .datadiri {
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
}
.container1 > .datadiri2 {
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    background-color: white;
    box-shadow: 5px 5px 10px gray;
}
ul {
    margin: 0;
    padding: 30px;
    text-align: center;
}
li {
    background-color: lightgray;
    border-left: 5px solid grey;
    padding: 5px 5px 5px 0px;
    border-radius: 30px;
}
.satu {
    border-radius: 30px;
    box-shadow: 5px 5px 10px gray;
}
.dua {
    color: #20bcd5;
    size: 30px;
    text-align: center;
}
